@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-neutral-950: #000000;
  --color-neutral-0: #ffffff;
  --color-slate-950: #121721;
  --color-slate-900: #19202d;
  --color-slate-500: #6e8098;
  --color-slate-300: #9daec2;
  --color-slate-100: #f4f6f8;
  --color-indigo-500: #5964e0;
  --color-indigo-300: #939bf4;
}

@utility text-preset-1 {
  @apply text-[28px] leading-[125%] font-bold tracking-[0px];
}

@utility text-preset-2 {
  @apply text-2xl leading-[125%] font-bold tracking-[0px];
}

@utility text-preset-3 {
  @apply text-[20px] leading-[125%] font-bold tracking-[0px];
}

@utility text-preset-4-bold {
  @apply text-[16px] leading-[125%] font-bold tracking-[0px];
}

@utility text-preset-4 {
  @apply text-[16px] leading-[162.5%] tracking-[0px];
}

@utility text-preset-5 {
  @apply text-[14px] leading-[120%] font-bold tracking-[0px];
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --background: var(--color-slate-100);
  --foreground: var(--color-slate-900);
  --card: var(--color-neutral-0);
  --card-foreground: var(--color-slate-500);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--color-indigo-500);
  --primary-foreground: var(--color-neutral-0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: hsla(219, 29%, 14%, 0.135);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
